<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
       <div class="social"></div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <p>Bookers</p>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
         <% if user_signed_in? %>
        <ul>
           <li>
            <%= link_to user_path(current_user.id) do %>
            <i class="fas fa-home" aria-hidden="true"></i>Home
            <% end %>
          </li>
          <li>
            <%= link_to users_path do %>
            <i class="fas fa-users" aria-hidden="true"></i>Users
            <% end %>
          </li>
          <li>
            <%= link_to  books_path do %>
            <i class="fas fa-book-open" aria-hidden="true"></i>Books
            <% end %>
          </li>
          <li>
            <%= link_to  destroy_user_session_path, method: :delete do %>
            <i class="fas fa-sign-out-alt" aria-hidden="true"></i>logout
            <% end %>
          </li>
          
           
         
        </ul>
        <% else %>
        <ul>
          <li>
            <%= link_to root_path do %>
            <i class="fas fa-home" aria-hidden="true"></i>Home
            <% end %>
          </li>
          <li>
            <%= link_to home_about_path do  %>
            <i class="fas fa-link" aria-hidden="true"></i>About
            <% end %>
          </li>
          <li>
            <%= link_to new_user_registration_path do %>
            <i class="fas fa-user-plus" aria-hidden="true"></i>sign up
            <% end %>
          </li>
          <li>
            <%= link_to new_user_session_path do %>
            <i class="fas fa-sign-in-alt" aria-hidden="true"></i>login
            <% end %>
          </li>
         
        </ul>

    
    <% end %>
      </div>
    </div>
  </nav>
</header>

    <main>
      <%= notice %>
      <%= yield %>
    </main>




    <div class="A">
      <%#= render 'layouts/notifications' %>
    </div>

     <footer>
      <p>CopyRight Infratop.inc</p>
     </footer>
  </body>
</html>
